.edit-product__section.edit-product__section--sample-plugin
  .edit-product__editable
    %h2.heading.heading--5 Videos
    %p.edit-product__editable-action= link_to 'Edit', '#edit-view-video', class: 'button button--small', data: { dialog_button: '' }
